<div>
    <div class="container theme-showcase header-space" role="main">
        <div class="row">
            <div class="col-md-6">
                <h1 class="center">All Pets</h1>
                <table ng-table="tableParams" class="table table-striped">
                    <tr ng-repeat="pet in $data">
                        <td title="'Id'" data-title-text="Id" filter="{ id: 'number'}" sortable="'id'" class="ng-binding" ng-click="openModal(pet)">
                            <a>{{pet.id}}</a></td>
                        <td title="'Category'" data-title-text="Category" filter="{ 'category.name': 'text'}" sortable="'category.name'" class="ng-binding">
                            {{pet.category.name}}</td>
                        <td title="'Name'" data-title-text="Name" filter="{ name: 'text'}" sortable="'name'" class="ng-binding">
                            {{pet.name}}</td>
                        <td title="'Status'" data-title-text="Status" filter="{ status: 'text'}" sortable="'status'" class="ng-binding">
                            {{pet.status}}</td>
                    </tr>
                </table>
            </div>

            <div class="form-group col-md-6">
                <h1 class="center">Create a pet</h1>
                <form>
                    <label>Category</label>
                    <ui-select name="petCategory" theme="bootstrap" ng-model="$parent.petCategory" class="margin-bottom">
                        <ui-select-match placeholder="Category...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="category as category in categories | filter: $select.search" position="down">
                            <div ng-bind-html="category.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                    <label>Name</label>
                    <input type="text" name="petName" class="form-control margin-bottom" ng-model="petName" placeholder="Name..."/>

                    <label>Photo Urls</label>
                    <div class="row">
                        <div class="col-sm-11">
                            <input type="text" name="petUrl" class="form-control margin-bottom" ng-model="petUrl" placeholder="Url..."/>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-sm btn-primary" ng-click="addUrl()">
                                <span class="ng-scope">Add</span>
                            </button>
                        </div>
                    </div>

                    <div ng-show="photoUrls.length > 0">
                        <ul class="img-thumbnails clearfix">
                            <li class="small-image pull-left thumbnail" ng-repeat="image in photoUrls">
                                <img ng-src="{{image.photoUrl}}" height="100" width="100" />
                                <button type="button" class="btn btn-sm btn-danger" ng-click="removeUrl($index)">
                                    <span class="ng-scope">Remove</span>
                                </button>
                            </li>
                        </ul>
                    </div>

                    <label>Tags</label>
                    <div class="container-fluid margin-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="list-group" id="list1">
                                    <span class="list-group-item active">All Tags
                                        <input name="petTag1" ng-click="selectAll1()" ng-model="toggle" value="{{toggle}}" type="checkbox" class="pull-right">
                                    </span>
                                    <span ng-repeat="tag in tags1">
                                        <span class="list-group-item">{{tag.name}}
                                            <input ng-click="select1(tag.id)" name="selected1[]" value="{{tag.id}}" ng-checked="selected1.indexOf(tag.id) > -1" type="checkbox" class="pull-right">
                                        </span>
                                    </span>
                                    </div>
                                </div>
                                <div class="col-md-2 v-center text-center">
                                    <div class="btn-group">
                                        <button title="Send to list 1" class="btn btn-default" ng-click="tags2Totags1()"><i class="glyphicon glyphicon-chevron-left"></i></button>
                                        <button title="Send to list 2" class="btn btn-default" ng-click="tags1Totags2()"><i class="glyphicon glyphicon-chevron-right"></i></button>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="list-group" id="list2">
                                    <span class="list-group-item active">Pet Tags
                                        <input name="petTag2" ng-click="selectAll2()" ng-model="toggle1" value="{{toggle1}}" type="checkbox" class="pull-right">
                                    </span>
                                    <span ng-repeat="tag in tags2">
                                        <span class="list-group-item">{{tag.name}}
                                            <input ng-click="select2(tag.id)" name="selected2[]" value="{{tag.id}}" ng-checked="selected2.indexOf(tag.id) > -1" type="checkbox" class="pull-right">
                                        </span>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <label>Status</label>
                    <ui-select name="petStatus" theme="bootstrap" ng-model="$parent.petStatus" class="margin-bottom">
                        <ui-select-match placeholder="Status...">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="status in statuses | filter: $select.search" position="down">
                            <div ng-bind-html="status | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                    <button type="button" class="btn btn-sm btn-primary" ng-click="addPet()">
                        <span class="ng-scope">Add</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <modal-dialog show='modalShown' width='750px' height='90%'>
        <div class="modal-header"><h4>{{selectedPet.name}}</h4></div>
        <div class="modal-body">
            <ul>
                <li>Id : {{selectedPet.id}}</li>
                <li>Category : {{selectedPet.category.name}}</li>
                <li>Status : {{selectedPet.status}}</li>
                <li>Tags(s) : {{getTagsList(selectedPet.tags)}}</li>
                <li>Photo(s) :</li>
                <p class="small-image pull-left thumbnail" ng-repeat="image in selectedPet.photoUrls">
                    <img ng-src="{{image.photoUrl}}" height="100" width="100"/>
                </p>
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="deletePet(selectedPet.id)">Remove</button>
            <button class="btn" ng-click="close()">Cancel</button>
        </div>
    </modal-dialog>
</div>

