<div>
    <div class="container theme-showcase header-space" role="main">
        <div class="row">
            <div class="col-md-6">
                <h1 class="center">All Tags</h1>
                <table ng-table="tableParams" class="table table-striped">
                    <tr ng-repeat="tag in $data">
                        <td title="'Id'" data-title-text="Id" filter="{ id: 'number'}" sortable="'id'" class="ng-binding">
                            {{tag.id}}</td>
                        <td title="'Name'" data-title-text="Name" filter="{ name: 'text'}" sortable="'name'" class="ng-binding">
                            {{tag.name}}</td>
                    </tr>
                </table>
            </div>

            <div class="form-group col-md-6">
                <h1 class="center">Create a tag</h1>
                <form>
                    <label>Name</label>
                    <input type="text" name="tagName" class="form-control margin-bottom" ng-model="tagName" placeholder="Name..."/>

                    <button type="button" class="btn btn-sm btn-primary" ng-click="addTag()">
                        <span class="ng-scope">Add</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
